body { 
   margin: 0;
   font-family: Poppins, 'Courier New', Courier, monospace;
}

.hero {
   background-color: #397DFF;
   color: white;
   display: flex;
   justify-content: space-evenly;
   padding-left: 7em;
   padding-right: 7em;
   margin: 0;
}

.hero-text {
   justify-content: center;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 0;
}

#hero-title {
   font-size: 4em;
   font-weight: 700;
   margin: 0;
}

#hero-quote {
   font-size: 1.5em;
   font-weight: 200;
   margin: 0;
}

#hero-author {
   margin: 0;
   margin-left: 15em;
   font-weight: 300;
}

.hero-left-container {
   display: flex;
   align-content: center;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.downloads-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 3em;
}

#ios-appstore-download {
   height: 3em;
   width: auto;
}

#googleplay-download {
   height: 4.4em;
   width: auto;
}

.hero-image {
   width: auto;
   height: 25em;
   margin-top: 5em;
}

.features-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.features-heading-text {
   color: #2451A8;
   font-weight: 700;
   font-size: 2.75em;
   text-align: center;
}

.features-grid-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-left: 15em;
   margin-right: 20em;
}



.features-right-container {
   display: flex;
   flex-direction: column;
   margin-left: 5em;
   margin-top: 3em;
}


.features-subtitle {
   color: black;
   font-weight: 600;
   font-size: 1.75em;
   margin-bottom: 0;
   text-align: left;
}

.features-text {
   color: black;
   margin: 0;
   font-size: 1.25em;
   width: 25em;
}

.features-left-image {
   height: 30em;
   width: auto;
   /* padding-left: 15em; */
   margin-right: 0;
}

.features-right-image {
   height: auto;
   width: 30em;
}



.grid-container {
   display: grid;
   grid-template-columns: .4fr .4fr;
   column-gap: 0;
   row-gap: 5em;
   column-gap: 5em;
   /* grid-template-rows: 1fr 1fr; */
}

.top-left {
   display: flex;
   justify-content: center;
}

.top-right {
   display: flex;
   flex-direction: column;
   justify-content: center; 
}

.bottom-left {
   display: flex;
   flex-direction: column;
   justify-content: center; 
}